Repository finos/common-cloud-controls, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finos/ccc-steerco, @finos/ccc-wg-community-structure, @finos/ccc-wg-taxonomy, @finos/ccc-wg-security, @finos/ccc-wg-communications

link fixes
  .github/workflows/yaml_check.yml
  docs/community-guidelines/content-standards-and-practices/capability-definitions.md
  docs/community-guidelines/content-standards-and-practices/control-definitions.md
  docs/community-guidelines/content-standards-and-practices/staging-for-a-release-candidate.md
  docs/community-guidelines/content-standards-and-practices/threat-definitions.md
  docs/resources/training/Readme.md
Owners: @finos/ccc-steerco, @finos/ccc-wg-community-structure

recommitting the core catalog
  services/core/ccc/README.md
  services/core/ccc/capabilities.yaml
  services/core/ccc/controls.yaml
  services/core/ccc/threats.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

fixed references to renamed directory
  .github/ISSUE_TEMPLATE/release_proposal.md
  .github/workflows/todo_check.yml
  delivery-toolkit/main.go
  docs/community-guidelines/content-standards-and-practices/capability-definitions.md
  docs/community-guidelines/content-standards-and-practices/control-definitions.md
  docs/community-guidelines/content-standards-and-practices/staging-for-a-release-candidate.md
  docs/community-guidelines/content-standards-and-practices/threat-definitions.md
  docs/resources/training/user_guides/delivery_toolkit.md
Owners: @finos/ccc-steerco, @finos/ccc-wg-community-structure

typofixes
  docs/community-guidelines/content-standards-and-practices/capability-definitions.md
  docs/community-guidelines/content-standards-and-practices/control-definitions.md
  docs/community-guidelines/content-standards-and-practices/staging-for-a-release-candidate.md
  docs/community-guidelines/content-standards-and-practices/threat-definitions.md
Owners: @finos/ccc-wg-community-structure

linting
  catalogs/core/ccc/README.md
  catalogs/core/ccc/threats.yaml
  docs/community-guidelines/content-standards-and-practices/staging-for-a-release-candidate.md
Owners: @finos/ccc-wg-security, @finos/ccc-wg-community-structure

CFI Results now downloaded from candidate repos
  website/package-lock.json
  website/package.json
  website/scripts/DownloadCFIArtifacts.ts
  website/scripts/README.md
  website/src/data/cfi-configurations/secure-aws-bucket.yaml
  website/src/data/test-results/prowler-output-232348204608-20250424120512.ocsf.json
  website/src/data/test-results/secure-aws-bucket/config/repository.json
  website/src/data/test-results/secure-aws-bucket/config/secure-aws-bucket.json
  website/src/data/test-results/secure-azure-storage/config/repository.json
  website/src/data/test-results/secure-azure-storage/config/secure-azure-storage.json
  website/src/data/test-results/secure-azure-storage/results/secure-azure-storage_ocsf.json
  website/src/data/test-results/secure-gcp-storage/config/repository.json
  website/src/data/test-results/secure-gcp-storage/config/secure-gcp-storage.json
  website/src/data/test-results/secure-gcp-storage/results/secure-gcp-storage_ocsf.json
  website/src/plugin/cfi-pages/index.ts
  website/src/types/cfi.ts
  website/yarn.lock
Owners: none

reading new format cfi results
  website/src/components/cfi/Configuration/index.tsx
  website/src/plugin/cfi-pages/index.ts
Owners: none

add(docs): Add CFI Working Group (#840)
  README.md
  docs/governance/working-groups/cfi/charter.md
Owners: @finos/ccc-wg-community-structure, @finos/ccc-steerco

updating to use new prowler download
  services/ai-ml/gen-ai/controls.yaml
  website/src/components/cfi/Configuration/index.tsx
  website/src/components/cfi/TestResult/index.tsx
  website/src/data/ccc-releases/CCC.KeyMgmt_2025.07.yaml
  website/src/data/ccc-releases/CCC.LB_2025.06.yaml
  website/src/data/ccc-releases/CCC.LB_2025.07.yaml
  website/src/data/ccc-releases/CCC.RDMS_2025.03.yaml
  website/src/data/ccc-releases/CCC.RDMS_2025.05.yaml
  website/src/data/ccc-releases/CCC.VPC_2025.01.yaml
  website/src/data/test-results/secure-aws-bucket/config/repository.json
  website/src/data/test-results/secure-azure-storage/config/repository.json
  website/src/data/test-results/secure-azure-storage/results/secure-azure-storage_ocsf.json
  website/src/data/test-results/secure-gcp-storage/config/repository.json
  website/src/data/test-results/secure-gcp-storage/results/secure-gcp-storage_ocsf.json
  website/src/plugin/cfi-pages/index.ts
Owners: @finos/ccc-wg-security

Add 8 letter limitation as per Threat schema
  schemas/capabilities-schema.json
  schemas/controls-schema.json
  schemas/metadata-schema.json
Owners: none

Reformatted README and cfi charter with prettier
  README.md
  docs/governance/working-groups/cfi/charter.md
Owners: @finos/ccc-wg-community-structure, @finos/ccc-steerco

change(docs): Reformatted README and cfi charter with prettier (#866)
  README.md
  docs/governance/working-groups/cfi/charter.md
Owners: @finos/ccc-wg-community-structure, @finos/ccc-steerco

change(docs): Update service name Monit to Monitor
  catalogs/management/monitoring/capabilities.yaml
  catalogs/management/monitoring/controls.yaml
  catalogs/management/monitoring/threats.yaml
  catalogs/management/service-categories.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

Vector Store Capabilities
  services/database/service-categories.yaml
  services/database/vector/capabilities.yaml
  services/database/vector/metadata.yaml
Owners: @finos/ccc-wg-taxonomy

add(capability): for tracing (#791)
  services/management/tracing/capabilities.yaml
  services/management/tracing/metadata.yaml
Owners: @finos/ccc-wg-taxonomy

Vector Store Capabilities
  catalogs/database/service-categories.yaml
  services/database/vector/capabilities.yaml
  services/database/vector/metadata.yaml
Owners: @finos/ccc-wg-taxonomy

Using new YAML and directory structure
  catalogs/database/vector/capabilities.yaml
  catalogs/database/vector/metadata.yaml
  catalogs/management/service-categories.yaml
  catalogs/management/tracing/capabilities.yaml
  catalogs/management/tracing/metadata.yaml
Owners: @finos/ccc-wg-taxonomy

add(capability): Vector Store/ Tracing Capabilities (#868)
  catalogs/database/service-categories.yaml
  catalogs/database/vector/capabilities.yaml
  catalogs/database/vector/metadata.yaml
  catalogs/management/service-categories.yaml
  catalogs/management/tracing/capabilities.yaml
  catalogs/management/tracing/metadata.yaml
Owners: @finos/ccc-wg-taxonomy

Update meeting times for working groups in README
  README.md
Owners: @finos/ccc-wg-community-structure

change(docs): Update meeting times for working groups in README (#869)
  README.md
Owners: @finos/ccc-wg-community-structure

change(docs): Add 8 letter limitation as per Threat schema (#864)
  schemas/capabilities-schema.json
  schemas/controls-schema.json
  schemas/metadata-schema.json
Owners: none

change(docs): Update service name Monit to Monitor (#865)
  catalogs/management/monitoring/capabilities.yaml
  catalogs/management/monitoring/controls.yaml
  catalogs/management/monitoring/threats.yaml
  catalogs/management/service-categories.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

fix: corrected bad fields in core/ccc
  catalogs/core/ccc/controls.yaml
Owners: @finos/ccc-wg-security

updated storage/object to use as a dev release
  catalogs/storage/object/metadata.yaml
  catalogs/storage/object/release-details.yaml
Owners: none

updated participants file to custom YAML for toolkit reference
  participants.md
  participants.yaml
Owners: @finos/ccc-wg-community-structure

updated delivery-toolkit to release based on latest schema
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/common.go
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/style.go
  delivery-toolkit/cmd/types.go
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/cmd/verify-yaml.go
  delivery-toolkit/go.mod
  delivery-toolkit/go.sum
  delivery-toolkit/main.go
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.md
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.yaml
  delivery-toolkit/templates/catalog.md
  delivery-toolkit/templates/release-notes.md
Owners: none

updated docs according to the recent changes
  docs/community-guidelines/content-standards-and-practices/release-assets.md
  docs/governance/member-roles.md
  docs/resources/templates/metadata.yaml
Owners: @finos/ccc-wg-community-structure, @finos/ccc-steerco

updated README for participants file change
  README.md
Owners: @finos/ccc-wg-community-structure

omit markdown from release artifacts
  .github/workflows/release.yml
Owners: @finos/ccc-steerco

manually fixed the bug in stevie's name, not sure why the toolkit is bugging on it
  catalogs/storage/object/release-details.yaml
Owners: none

something is wrong with this check, so removing
  .github/workflows/format_check.yml
Owners: @finos/ccc-steerco

change(ci): Revise release compiler (#859)
  .github/workflows/format_check.yml
  .github/workflows/release.yml
  README.md
  catalogs/core/ccc/controls.yaml
  catalogs/storage/object/metadata.yaml
  catalogs/storage/object/release-details.yaml
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/common.go
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/style.go
  delivery-toolkit/cmd/types.go
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/cmd/verify-yaml.go
  delivery-toolkit/go.mod
  delivery-toolkit/go.sum
  delivery-toolkit/main.go
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.md
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.yaml
  delivery-toolkit/templates/catalog.md
  delivery-toolkit/templates/release-notes.md
  docs/community-guidelines/content-standards-and-practices/release-assets.md
  docs/governance/member-roles.md
  docs/resources/templates/metadata.yaml
  participants.md
  participants.yaml
Owners: @finos/ccc-steerco, @finos/ccc-wg-community-structure, @finos/ccc-wg-security

fix: updated release artifact to be a top-level catalog
  .github/workflows/release.yml
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/common.go
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/generate-release-artifacts.go
  delivery-toolkit/cmd/verify-yaml.go
  delivery-toolkit/go.mod
  delivery-toolkit/go.sum
  delivery-toolkit/main.go
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.yaml
  delivery-toolkit/templates/release-notes.md
Owners: @finos/ccc-steerco

added sample artifacts
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.md
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.yaml
  delivery-toolkit/sample-artifacts/release_notes.md
Owners: none

Added OSCAL generator
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-oscal.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/generate-release-artifacts.go
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.md
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.oscal.json
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.yaml
  delivery-toolkit/sample-artifacts/release_notes.md
Owners: none

fix(ci): updated release artifact to be a top-level catalog (#871)
  .github/workflows/release.yml
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/common.go
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-oscal.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/generate-release-artifacts.go
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/cmd/verify-yaml.go
  delivery-toolkit/go.mod
  delivery-toolkit/go.sum
  delivery-toolkit/main.go
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.md
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.oscal.json
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.yaml
  delivery-toolkit/sample-artifacts/release_notes.md
  delivery-toolkit/templates/release-notes.md
Owners: @finos/ccc-steerco

WIP
  catalogs/core/ccc/capabilities.yaml
  catalogs/core/ccc/controls.yaml
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

Add in fix to minor typo
  catalogs/core/ccc/README.md
Owners: none

Services->Catalogs
  architectures/rag-llm-app/README.md
  architectures/three-tier-web-app/README.md
  docs/community-guidelines/content-standards-and-practices/staging-for-a-release-candidate.md
Owners: @finos/ccc-wg-community-structure

Add in family desc and fix linting
  catalogs/core/ccc/controls.yaml
Owners: @finos/ccc-wg-security

.github/CODEOWNERS:

**/charter.md @finos/ccc-steerco
/.github @finos/ccc-steerco
/docs/governance @finos/ccc-steerco

/docs/governance/working-groups/community-structure @finos/ccc-wg-community-structure @finos/ccc-steerco
/.vscode @finos/ccc-wg-community-structure
/docs/community-guidelines @finos/ccc-wg-community-structure
/* @finos/ccc-wg-community-structure

/docs/governance/working-groups/taxonomy @finos/ccc-wg-taxonomy @finos/ccc-steerco
**/capabilities.yaml @finos/ccc-wg-taxonomy
**/service-categories.yaml @finos/ccc-wg-taxonomy
services/service-families.yaml @finos/ccc-wg-taxonomy

/docs/governance/working-groups/security @finos/ccc-wg-security @finos/ccc-steerco
**/threats.yaml @finos/ccc-wg-security
**/controls.yaml @finos/ccc-wg-security
**/*.feature @finos/ccc-wg-security

/docs/governance/working-groups/communications @finos/ccc-wg-communications @finos/ccc-steerco
