Repository finos/common-cloud-controls, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finos/ccc-steerco, @finos/ccc-wg-community-structure, @finos/ccc-wg-taxonomy, @finos/ccc-wg-security, @finos/ccc-wg-communications

.github/CODEOWNERS:

**/charter.md @finos/ccc-steerco
/.github @finos/ccc-steerco
/docs/governance @finos/ccc-steerco

/docs/governance/working-groups/community-structure @finos/ccc-wg-community-structure @finos/ccc-steerco
/.vscode @finos/ccc-wg-community-structure
/docs/community-guidelines @finos/ccc-wg-community-structure
/* @finos/ccc-wg-community-structure

/docs/governance/working-groups/taxonomy @finos/ccc-wg-taxonomy @finos/ccc-steerco
**/capabilities.yaml @finos/ccc-wg-taxonomy
**/service-categories.yaml @finos/ccc-wg-taxonomy
services/service-families.yaml @finos/ccc-wg-taxonomy

/docs/governance/working-groups/security @finos/ccc-wg-security @finos/ccc-steerco
**/threats.yaml @finos/ccc-wg-security
**/controls.yaml @finos/ccc-wg-security
**/*.feature @finos/ccc-wg-security

/docs/governance/working-groups/communications @finos/ccc-wg-communications @finos/ccc-steerco

updating metadata yaml
  services/networking/loadbalancer/metadata.yaml
Owners: none

change(docs): v2025.07 - Load Balancer Official Release (#829)
  services/networking/loadbalancer/metadata.yaml
Owners: none

change(docs): v2025.07 - Key Management Official Release (#828)
  services/crypto/key/metadata.yaml
Owners: none

Update description in logging metadata
  services/management/logging/metadata.yaml
Owners: none

add(docs): Add metadata for logging (#823)
  services/management/logging/metadata.yaml
Owners: none

Add shared controls for logging
  services/management/logging/controls.yaml
Owners: @finos/ccc-wg-security

Add specific controls for logging
  services/management/logging/controls.yaml
Owners: @finos/ccc-wg-security

Added new Video
  website/src/components/LearnMore/index.js
Owners: none

Update index.js
  website/src/components/LearnMore/index.js
Owners: none

capabilities for container orchestration
  services/compute/container-orch/capabilities.yaml
  services/compute/container-orch/metadata.yaml
  services/compute/service-categories.yaml
Owners: @finos/ccc-wg-taxonomy

fix commit checks
  services/compute/container-orch/capabilities.yaml
  services/compute/container-orch/metadata.yaml
Owners: @finos/ccc-wg-taxonomy

adding new line to metadata file
  services/compute/container-orch/metadata.yaml
Owners: none

fix the linter
  services/compute/container-orch/metadata.yaml
Owners: none

Added common capabilities and threats based on threat modelling
  services/management/monitoring/capabilities.yaml
  services/management/monitoring/threats.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

add(docs): OSFF London 2025 presentation video (#832)
  website/src/components/LearnMore/index.js
Owners: none

Apply suggestions from code review
  services/identity/iam/threats.yaml
Owners: @finos/ccc-wg-security

removed "Alerts are Intercepted" based on review feedback
  services/management/auditlog/threats.yaml
Owners: @finos/ccc-wg-security

add(control): Monitoring Controls
  services/management/monitoring/controls.yaml
Owners: @finos/ccc-wg-security

Add recommendations in IAM controls assessment criteria
  services/identity/iam/controls.yaml
Owners: @finos/ccc-wg-security

Apply code review suggestions for logging controls
  services/management/logging/controls.yaml
Owners: @finos/ccc-wg-security

Apply code review suggestion for logging threats
  services/management/logging/threats.yaml
Owners: @finos/ccc-wg-security

Update README.md
  README.md
Owners: @finos/ccc-wg-community-structure

Create charter.md
  docs/governance/working-groups/cfi/charter.md
Owners: @finos/ccc-steerco

Update README.md
  README.md
Owners: @finos/ccc-wg-community-structure

Update charter.md
  docs/governance/working-groups/cfi/charter.md
Owners: @finos/ccc-steerco

Fixed Community Structure WG link
  docs/governance/working-groups/cfi/charter.md
Owners: @finos/ccc-steerco

Update docs/governance/working-groups/cfi/charter.md
  docs/governance/working-groups/cfi/charter.md
Owners: @finos/ccc-steerco

Update docs/governance/working-groups/cfi/charter.md
  docs/governance/working-groups/cfi/charter.md
Owners: @finos/ccc-steerco

Apply suggestions from code review
  services/management/logging/capabilities.yaml
Owners: @finos/ccc-wg-taxonomy

Remove duplicate logging capability
  services/management/logging/capabilities.yaml
Owners: @finos/ccc-wg-taxonomy

Change CCC.Logging.F12 to Log Archiving
  services/management/logging/capabilities.yaml
Owners: @finos/ccc-wg-taxonomy

Fix linting in logging capabilities
  services/management/logging/capabilities.yaml
Owners: @finos/ccc-wg-taxonomy

Update capability IDs for logging threats
  services/management/logging/threats.yaml
Owners: @finos/ccc-wg-security

add(capability): Logging capabilities (#824)
  services/management/logging/capabilities.yaml
Owners: @finos/ccc-wg-taxonomy

K8S capabilities
  services/compute/k8s-container-orchestration/capabilities.yaml
  services/compute/k8s-container-orchestration/metadata.yaml
  services/compute/service-categories.yaml
Owners: @finos/ccc-wg-taxonomy

update to the 3-tier web app architecture
  architectures/three-tier-web-app/README.md
Owners: none

fix format
  architectures/three-tier-web-app/README.md
Owners: none

final K8S capability list
  services/compute/k8s-container-orchestration/capabilities.yaml
Owners: @finos/ccc-wg-taxonomy

fix linting errors
  services/compute/k8s-container-orchestration/capabilities.yaml
  services/compute/k8s-container-orchestration/metadata.yaml
Owners: @finos/ccc-wg-taxonomy

fix time format issue
  services/compute/k8s-container-orchestration/metadata.yaml
Owners: none
