Repository finos/common-cloud-controls, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finos/ccc-steerco, @finos/ccc-wg-community-structure, @finos/ccc-wg-taxonomy, @finos/ccc-wg-security, @finos/ccc-wg-communications

.github/CODEOWNERS:

**/charter.md @finos/ccc-steerco
/.github @finos/ccc-steerco
/docs/governance @finos/ccc-steerco

/docs/governance/working-groups/community-structure @finos/ccc-wg-community-structure @finos/ccc-steerco
/.vscode @finos/ccc-wg-community-structure
/docs/community-guidelines @finos/ccc-wg-community-structure
/* @finos/ccc-wg-community-structure

/docs/governance/working-groups/taxonomy @finos/ccc-wg-taxonomy @finos/ccc-steerco
**/capabilities.yaml @finos/ccc-wg-taxonomy
**/service-categories.yaml @finos/ccc-wg-taxonomy
services/service-families.yaml @finos/ccc-wg-taxonomy

/docs/governance/working-groups/security @finos/ccc-wg-security @finos/ccc-steerco
**/threats.yaml @finos/ccc-wg-security
**/controls.yaml @finos/ccc-wg-security
**/*.feature @finos/ccc-wg-security

/docs/governance/working-groups/communications @finos/ccc-wg-communications @finos/ccc-steerco

fix service category
  services/compute/service-categories.yaml
Owners: @finos/ccc-wg-taxonomy

add(threat): Audit Logs Threats (#817)
  services/management/auditlog/threats.yaml
Owners: @finos/ccc-wg-security

Update services/identity/iam/threats.yaml
  services/identity/iam/threats.yaml
Owners: @finos/ccc-wg-security

Moved tracing
  services/management/tracing/capabilities.yaml
  services/management/tracing/metadata.yaml
  services/monitoring/logging/capabilities.yaml
  services/monitoring/logging/metadata.yaml
Owners: @finos/ccc-wg-taxonomy

removed threats, accidentally bundled with PR
  services/management/auditlog/threats.yaml
Owners: @finos/ccc-wg-security

Apply suggestions from code review
  services/management/auditlog/controls.yaml
Owners: @finos/ccc-wg-security

Added steps to PR compiled yaml asset into website/static
  .github/workflows/release.yml
Owners: @finos/ccc-steerco

Simplified latest release handling
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/types.go
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/go.sum
  delivery-toolkit/templates/catalog.md
  delivery-toolkit/templates/release-notes.md
Owners: none

Update delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/cmd/update-metadata.go
Owners: none

change(ci): Simplified latest release handling (#846)
  delivery-toolkit/cmd/catalog-compiler.go
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/types.go
  delivery-toolkit/cmd/update-metadata.go
  delivery-toolkit/go.sum
  delivery-toolkit/templates/catalog.md
  delivery-toolkit/templates/release-notes.md
Owners: none

add(control): Audit log controls (#826)
  services/management/auditlog/controls.yaml
Owners: @finos/ccc-wg-security

Change title of CCC.Logging.TH02
  services/management/logging/threats.yaml
Owners: @finos/ccc-wg-security

Placeholder attempt
  architectures/rag-llm-app/README.md
  architectures/rag-llm-app/controls.yaml
  architectures/rag-llm-app/metadata.yaml
  architectures/rag-llm-app/threats.yaml
  architectures/three-tier-web-app/README.md
  website/package.json
  website/scripts/README.md
  website/src/data/ccc-releases/CCC.KeyMgmt_2025.07.yaml
  website/src/data/ccc-releases/CCC.LB_2025.06.yaml
  website/src/data/ccc-releases/CCC.LB_2025.07.yaml
  website/src/data/ccc-releases/CCC.ObjStor_2025.01.yaml
  website/src/data/ccc-releases/CCC.RDMS_2025.05.yaml
  website/src/data/cfi-repositories.json
  website/src/plugin/ccc-pages/index.ts
  website/src/types/ccc.ts
  website/tsconfig.json
Owners: @finos/ccc-wg-security

Setting service ids
  architectures/rag-llm-app/README.md
  architectures/three-tier-web-app/README.md
Owners: none

add(control): Logging controls (#831)
  services/management/logging/controls.yaml
Owners: @finos/ccc-wg-security

add(control): IAM controls (#827)
  services/identity/iam/controls.yaml
Owners: @finos/ccc-wg-security

add(control): Monitoring Controls (#839)
  services/management/monitoring/controls.yaml
Owners: @finos/ccc-wg-security

Add IAM threat for confused deputy
  services/identity/iam/threats.yaml
Owners: @finos/ccc-wg-security

add(threat): Add threats and additional capabilities for IAM (#812)
  services/identity/iam/capabilities.yaml
  services/identity/iam/threats.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

add(threat): Monitoring Threats (#834)
  services/management/monitoring/capabilities.yaml
  services/management/monitoring/threats.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

Update participants.md
  participants.md
Owners: @finos/ccc-wg-community-structure

Wrote a dev-user facing README to describe what the rest of this PR is going to deliver
  common/README.md
  services/core/reusable/README.md
  services/core/reusable/capabilities.yaml
  services/core/reusable/controls.yaml
  services/core/reusable/threats.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

hoping these schemas work
  .github/workflows/yaml_check.yml
  schemas/core-capabilities-schema.json
  schemas/core-controls-schema.json
  schemas/core-threats-schema.json
Owners: @finos/ccc-steerco

add(threat): Add Logging threats (#825)
  services/management/logging/threats.yaml
Owners: @finos/ccc-wg-security

Update mitre_technique to external-mappings
  .vscode/threats.code-snippets
  docs/community-guidelines/content-standards-and-practices/threat-definitions.md
  docs/resources/templates/threats.yaml
  website/src/data/ccc-releases/CCC.ObjStor_2025.01.yaml
  website/src/data/ccc-releases/CCC.RDMS_2025.03.yaml
  website/src/data/ccc-releases/CCC.VPC_2025.01.yaml
Owners: @finos/ccc-wg-community-structure, @finos/ccc-wg-security

Update threats to threat-mappings and common_threats to shared-threats
  .vscode/controls.code-snippets
  .vscode/threats.code-snippets
  docs/community-guidelines/content-standards-and-practices/staging-for-a-release-candidate.md
  docs/community-guidelines/content-standards-and-practices/threat-definitions.md
  docs/resources/templates/threats.yaml
Owners: @finos/ccc-wg-community-structure, @finos/ccc-wg-security

add(docs): Update participants.md (#854)
  participants.md
Owners: @finos/ccc-wg-community-structure

can't put the different ID patterns into the same directory
  .github/workflows/yaml_check.yml
  core/README.md
  core/capabilities.yaml
  core/controls.yaml
  core/threats.yaml
Owners: @finos/ccc-steerco, @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

set links to new locations
  docs/community-guidelines/content-standards-and-practices/capability-definitions.md
  docs/community-guidelines/content-standards-and-practices/control-definitions.md
  docs/community-guidelines/content-standards-and-practices/staging-for-a-release-candidate.md
  docs/community-guidelines/content-standards-and-practices/threat-definitions.md
Owners: @finos/ccc-wg-community-structure

fixed linter line length complaint
  .github/workflows/yaml_check.yml
Owners: @finos/ccc-steerco

linting and such
  .github/workflows/yaml_check.yml
  core/README.md
  docs/community-guidelines/content-standards-and-practices/capability-definitions.md
Owners: @finos/ccc-steerco, @finos/ccc-wg-community-structure

missed a link
  docs/community-guidelines/content-standards-and-practices/staging-for-a-release-candidate.md
Owners: @finos/ccc-wg-community-structure

Update core/README.md
  core/README.md
Owners: none

some more tweaks
  delivery-toolkit/templates/catalog.md
  participants.md
Owners: @finos/ccc-wg-community-structure

moved core catalog file into services/core/ccc
  core/README.md
  core/threats.yaml
  services/core/ccc/README.md
  services/core/ccc/capabilities.yaml
  services/core/ccc/controls.yaml
  services/core/ccc/threats.yaml
Owners: @finos/ccc-wg-security, @finos/ccc-wg-taxonomy

Reverted separate schemas approachh
  schemas/core-capabilities-schema.json
  schemas/core-controls-schema.json
  schemas/core-threats-schema.json
Owners: none

this was such a bad idea
  services/ai-ml/gen-ai/metadata.yaml
  services/ai-ml/mlde/metadata.yaml
  services/ai-ml/service-categories.yaml
  services/app-integration/message/metadata.yaml
  services/app-integration/service-categories.yaml
  services/compute/batchproc/metadata.yaml
  services/compute/service-categories.yaml
  services/crypto/key/metadata.yaml
  services/crypto/service-families.yaml
  services/database/relational/metadata.yaml
  services/database/service-categories.yaml
  services/devtools/build/metadata.yaml
  services/devtools/service-categories.yaml
  services/identity/iam/controls.yaml
  services/identity/iam/metadata.yaml
  services/identity/iam/threats.yaml
  services/identity/service-categories.yaml
  services/management/auditlog/threats.yaml
  services/management/logging/threats.yaml
  services/management/monitoring/threats.yaml
  services/management/service-categories.yaml
  services/networking/loadbalancer/metadata.yaml
  services/networking/loadbalancer/threats.yaml
  services/networking/service-categories.yaml
  services/networking/vpc/metadata.yaml
  services/storage/object/metadata.yaml
  services/storage/service-categories.yaml
Owners: @finos/ccc-wg-taxonomy, @finos/ccc-wg-security

fixing indentation and such
  .vscode/metadata.code-snippets
  docs/community-guidelines/content-standards-and-practices/release-assets.md
  docs/resources/templates/metadata.yaml
  docs/resources/training/oscal/examples/catalog/yaml/OSCAL_CCC_Catalog_option1.yaml
  docs/resources/training/oscal/examples/catalog/yaml/OSCAL_CCC_Catalog_option2.yaml
  services/app-integration/message/controls.yaml
  services/compute/serverless-computing/controls.yaml
  services/core/ccc/README.md
  services/core/ccc/capabilities.yaml
  services/core/ccc/controls.yaml
  services/core/ccc/threats.yaml
  services/crypto/key/controls.yaml
  services/crypto/key/threats.yaml
  services/crypto/secrets/capabilities.yaml
  services/identity/iam/controls.yaml
  services/management/logging/controls.yaml
Owners: @finos/ccc-wg-community-structure, @finos/ccc-wg-security, @finos/ccc-wg-taxonomy

Removed old training content to get checks passing
  docs/resources/training/oscal/examples/Readme.md
  docs/resources/training/oscal/examples/build/Makefile
  docs/resources/training/oscal/examples/catalog/json/OSCAL_CCC_Catalog_option1.json
  docs/resources/training/oscal/examples/catalog/json/OSCAL_CCC_Catalog_option2.json
  docs/resources/training/oscal/examples/catalog/xml/OSCAL_CCC_Catalog_option1.xml
  docs/resources/training/oscal/examples/catalog/xml/OSCAL_CCC_Catalog_option2.xml
  docs/resources/training/oscal/examples/catalog/yaml/OSCAL_CCC_Catalog_option1.yaml
  docs/resources/training/oscal/examples/catalog/yaml/OSCAL_CCC_Catalog_option2.yaml
  docs/resources/training/oscal/oscal.md
Owners: none

linting trailing spaces
  services/compute/virtual-machines/threats.yaml
Owners: @finos/ccc-wg-security
