Repository finos/common-cloud-controls, changes with the owners that .github/CODEOWNERS names for each.
All owners: @finos/ccc-steerco, @finos/ccc-wg-community-structure, @finos/ccc-wg-taxonomy, @finos/ccc-wg-security, @finos/ccc-wg-communications

Reviewed services in RAG
  architectures/rag-llm-app/README.md
  architectures/rag-llm-app/controls.yaml
  architectures/rag-llm-app/threats.yaml
Owners: @finos/ccc-wg-security

Tidied up the architecture definitions
  architectures/rag-llm-app/README.md
  architectures/three-tier-web-app/README.md
Owners: none

removed incompatible schema files
  website/src/data/ccc-releases/CCC.ObjStor_2025.01.yaml
  website/src/data/ccc-releases/CCC.ObjStor_2025.09.yaml
  website/src/data/ccc-releases/CCC.RDMS_2025.03.yaml
  website/src/data/ccc-releases/CCC.VPC_2025.01.yaml
Owners: none

fix(docs): Correction for typo in README (#877)
  catalogs/core/ccc/README.md
Owners: none

Apply suggestions from code review
  catalogs/core/ccc/controls.yaml
Owners: @finos/ccc-wg-security

updated style guide
  catalogs/core/ccc/capabilities.yaml
Owners: @finos/ccc-wg-taxonomy

drafted threats style guide
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-security

threats style edits
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-security

more threat style edits
  .vscode/capabilities.code-snippets
  .vscode/common-capabilities.code-snippets
  .vscode/common-controls.code-snippets
  .vscode/common-threats.code-snippets
  .vscode/controls.code-snippets
  .vscode/metadata.code-snippets
  .vscode/settings.json
  .vscode/threats.code-snippets
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-community-structure, @finos/ccc-wg-security

still tweaking threats
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-security

updated style guide
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-security

implementing cause->effect->impact pattern
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-security

continued refinement of core threats
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-security

more threats edits
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-security

finished revising existing threat titles and descriptions
  catalogs/core/ccc/threats.yaml
Owners: @finos/ccc-wg-security

Updated script to clear out directory and download all the latest artifacts
  website/scripts/DownloadCFIArtifacts.ts
  website/src/data/cfi-repositories.json
  website/src/data/test-results/robmoffat-cfi-s3-module/aws-bedrock/config/aws-bedrock.json
  website/src/data/test-results/robmoffat-cfi-s3-module/aws-rds/config/aws-rds.json
  website/src/data/test-results/robmoffat-cfi-s3-module/aws-s3-bucket/config/aws-s3-bucket.json
  website/src/data/test-results/robmoffat-cfi-s3-module/aws-vpc/config/aws-vpc.json
  website/src/data/test-results/robmoffat-cfi-s3-module/gcp-cloud-storage/config/gcp-cloud-storage.json
  website/src/data/test-results/robmoffat-cfi-s3-module/gcp-cloud-storage/results/gcp-cloud-storage_ocsf.json
  website/src/data/test-results/robmoffat-cfi-s3-module/gcp-network/config/gcp-network.json
  website/src/data/test-results/robmoffat-cfi-s3-module/gcp-network/results/gcp-network_ocsf.json
  website/src/data/test-results/robmoffat-cfi-s3-module/gcp-sql-database/config/gcp-sql-database.json
  website/src/data/test-results/robmoffat-cfi-s3-module/gcp-sql-database/results/gcp-sql-database_ocsf.json
  website/src/data/test-results/robmoffat-cfi-s3-module/gcp-vertex-ai/config/gcp-vertex-ai.json
  website/src/data/test-results/robmoffat-cfi-s3-module/gcp-vertex-ai/results/gcp-vertex-ai_ocsf.json
  website/src/data/test-results/robmoffat-cfi-s3-module/repository.json
  website/src/data/test-results/robmoffat-cfi-s3-module/secure-aws-bucket/config/secure-aws-bucket.json
  website/src/data/test-results/robmoffat-cfi-s3-module/secure-gcp-storage/config/secure-gcp-storage.json
  website/src/data/test-results/robmoffat-cfi-s3-module/secure-gcp-storage/results/secure-gcp-storage_ocsf.json
  website/src/data/test-results/secure-aws-bucket/config/repository.json
  website/src/data/test-results/secure-aws-bucket/config/secure-aws-bucket.json
  website/src/data/test-results/secure-azure-storage/config/repository.json
  website/src/data/test-results/secure-azure-storage/config/secure-azure-storage.json
  website/src/data/test-results/secure-azure-storage/results/secure-azure-storage_ocsf.json
  website/src/data/test-results/secure-gcp-storage/config/repository.json
  website/src/data/test-results/secure-gcp-storage/config/secure-gcp-storage.json
  website/src/data/test-results/secure-gcp-storage/results/secure-gcp-storage_ocsf.json
Owners: none

removed temp directory
  website/scripts/DownloadCFIArtifacts.ts
  website/src/data/test-results/robmoffat-cfi-s3-module/repository.json
Owners: none

tweaking controls text now
  catalogs/core/ccc/README.md
  catalogs/core/ccc/controls.yaml
Owners: @finos/ccc-wg-security

update 'trust perimeter' language
  catalogs/core/ccc/controls.yaml
Owners: @finos/ccc-wg-security

fix: generate release-details.yaml
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/generate-release-artifacts.go
  delivery-toolkit/sample-artifacts/release-details.yaml
Owners: none

add catalog name to release details filename
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/generate-release-artifacts.go
Owners: none

Manual effort to line up ccc.ts
  website/docusaurus.config.ts
  website/src/components/ccc/Component/index.tsx
  website/src/components/ccc/Home/index.tsx
  website/src/components/cfi/Configuration/index.tsx
  website/src/components/cfi/Home/index.tsx
  website/src/data/ccc-releases/CCC.ObjStor_2025.05-release-details.yaml
  website/src/data/ccc-releases/CCC.RDBMS_2025.05-release-details.yaml
  website/src/data/ccc-releases/CCC.RDMS_2025.05.yaml
  website/src/data/test-results/robmoffat-cfi-s3-module/aws-bedrock/config/aws-bedrock.json
  website/src/data/test-results/robmoffat-cfi-s3-module/aws-rds/config/aws-rds.json
  website/src/plugin/ccc-pages/index.ts
  website/src/plugin/cfi-pages/index.ts
  website/src/types/ccc.ts
  website/src/types/cfi.ts
Owners: none

incorporated suggestions
  website/src/types/ccc.ts
Owners: none

home page working
  website/docusaurus.config.ts
  website/src/components/ccc/Control/index.tsx
  website/src/components/ccc/Home/index.tsx
  website/src/components/ccc/Release/index.tsx
  website/src/plugin/ccc-pages/index.ts
  website/src/types/ccc.ts
Owners: none

Component list working
  website/src/components/ccc/Home/index.tsx
Owners: none

Fixed display of users, corrected release details
  website/src/components/ccc/Component/index.tsx
  website/src/components/ccc/Home/index.tsx
  website/src/components/ccc/Release/index.tsx
  website/src/components/ccc/User/index.tsx
  website/src/data/ccc-releases/CCC.ObjStor_2025.09-release-details.yaml
  website/src/data/ccc-releases/CCC.RDMS_2025.05-release-details.yaml
Owners: none

Updated the release page
  website/docusaurus.config.ts
  website/src/components/ccc/MappingCountBadge/index.tsx
  website/src/components/ccc/Release/index.tsx
  website/src/data/ccc-releases/CCC.RDMS_2025.05-release-details.yaml
  website/src/data/old/CCC.LB_2025.06.yaml
  website/src/types/ccc.ts
Owners: none

capability page now shows mappings
  website/src/components/ccc/Feature/index.tsx
  website/src/plugin/ccc-pages/index.ts
  website/src/types/ccc.ts
Owners: none

updated capability page
  website/src/components/ccc/Capability/index.tsx
  website/src/plugin/ccc-pages/index.ts
  website/src/types/ccc.ts
Owners: none

updated threats page
  website/src/components/ccc/Threat/index.tsx
Owners: none

componentized mapping tables
  website/src/components/ccc/CapabilitiesTable/index.tsx
  website/src/components/ccc/Capability/index.tsx
  website/src/components/ccc/ControlsTable/index.tsx
  website/src/components/ccc/ExternalMappingsTable/index.tsx
  website/src/components/ccc/Release/index.tsx
  website/src/components/ccc/Threat/index.tsx
  website/src/components/ccc/ThreatsTable/index.tsx
Owners: none

Improved look of control
  website/src/components/ccc/Control/index.tsx
  website/src/components/ccc/ExternalMappingsTable/index.tsx
Owners: none

fix(ci): generate release-details.yaml (#879)
  delivery-toolkit/cmd/gen-markdown.go
  delivery-toolkit/cmd/gen-release-notes.go
  delivery-toolkit/cmd/gen-yaml.go
  delivery-toolkit/cmd/generate-release-artifacts.go
  delivery-toolkit/sample-artifacts/release-details.yaml
Owners: none

fix(control): Add control family descriptions (#878)
  catalogs/core/ccc/controls.yaml
Owners: @finos/ccc-wg-security

fix: updates OSCAL generation to include top-level key
  delivery-toolkit/cmd/gen-oscal.go
  delivery-toolkit/sample-artifacts/CCC.ObjStor_2025.09.oscal.json
Owners: none

polishing core controls
  catalogs/core/ccc/controls.yaml
Owners: @finos/ccc-wg-security

I think this is about ready for review
  catalogs/core/ccc/controls.yaml
Owners: @finos/ccc-wg-security

restore .vscode dir
  .vscode/capabilities.code-snippets
  .vscode/common-capabilities.code-snippets
  .vscode/common-controls.code-snippets
  .vscode/common-threats.code-snippets
  .vscode/controls.code-snippets
  .vscode/metadata.code-snippets
  .vscode/settings.json
  .vscode/threats.code-snippets
Owners: @finos/ccc-wg-community-structure

undo README changes
  catalogs/core/ccc/README.md
Owners: none

.github/CODEOWNERS:

**/charter.md @finos/ccc-steerco
/.github @finos/ccc-steerco
/docs/governance @finos/ccc-steerco

/docs/governance/working-groups/community-structure @finos/ccc-wg-community-structure @finos/ccc-steerco
/.vscode @finos/ccc-wg-community-structure
/docs/community-guidelines @finos/ccc-wg-community-structure
/* @finos/ccc-wg-community-structure

/docs/governance/working-groups/taxonomy @finos/ccc-wg-taxonomy @finos/ccc-steerco
**/capabilities.yaml @finos/ccc-wg-taxonomy
**/service-categories.yaml @finos/ccc-wg-taxonomy
services/service-families.yaml @finos/ccc-wg-taxonomy

/docs/governance/working-groups/security @finos/ccc-wg-security @finos/ccc-steerco
**/threats.yaml @finos/ccc-wg-security
**/controls.yaml @finos/ccc-wg-security
**/*.feature @finos/ccc-wg-security

/docs/governance/working-groups/communications @finos/ccc-wg-communications @finos/ccc-steerco
