Repository finos/common-cloud-controls, pull requests merged in 2023-11, with the labels that each got.

#71 Update participants.md
  participants.md
Labels: ready for review

#87 Update participants.md - Add Aaron Sutton
  participants.md
Labels: ready for review, new participant

#83 Update participants.md
  participants.md
Labels: new participant

#97 Added training doc for OSCAL to CCC docs
  docs/training/Readme.md
  docs/training/oscal.md
Labels: documentation, OSCAL representation of FINOS CCC, ready for review

#96 Update participants.md with Rowan Baker, ControlPlane
  participants.md
Labels: All Working Groups, ready for review, new participant

#95 Update participants.md - Vicente Herrera Garcia - Control Plane
  participants.md
Labels: All Working Groups, ready for review, new participant

#85 Update the RDMS taxonomy to accommodate failover
  services/common-cloud-services.md
  services/database/relational/rdms-taxonomy.feature
  services/database/relational/taxonomy.md
Labels: Define Cloud Services Taxonomy, ready for review

#98 Update Paul Stevenson from Morgan Stanley to ReadMe.md
  Readme.md
Labels: OSCAL representation of FINOS CCC, Define Cloud Services Taxonomy, ready for review
